body{
    background: url(./R.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: flex;
    justify-content: space-around;
    border: 7px red;
    background:linear-gradient(rgb(217, 217, 3) orange);
    border-radius: 20% 0% 20% 0%;
}
h1{
    margin-bottom: 100px;
    color: white;
    text-shadow: 5px 5px 5px brown;

}
img{
    box-shadow: 0 2px 5px cyan
    ;
    border-radius: 50%;
    opacity: 0.5;
}
img:hover{
    opacity: 1;
    height: 250px;
    width: 300px;
}



